<html>
    <head>
        <link rel="stylesheet" href="/css/table.css">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.5.0/axios.min.js"></script>
    
    </head>

    <body>
        <div id="div1">
            <form id="adminform">
                <input type="text" id="bookname" required placeholder="Enter Book Name">
                <input type="hidden" id="order" >
                <input type="hidden" id="retuntime" >
                <input type="hidden" id="fee" >
                <button type="submit">Book</button>
            </form>
        </div>
        <div >
            <h2>Book In The Cart</h2>
            <table id="table">

            </table>

        </div>
        <div id="div3">
            <h2>History</h2>

        </div>
        <script src="script.js"></script>
    </body>
</html>